{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        <meta charset="utf-8">

        {% block css %}
            <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}" type="text/css" />
            <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css" />
            <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" />
{#            <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css" />#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}

    </head>
    <body>

    {% include "navbar.html" %}
    <div class="row">
        <div class="col-md-10 col-lg-10 p-3">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% block scripts %}
        <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endblock %}

  </body>
</html>