{% extends 'base.html' %}
{% load static %}

{% block title %}User {{ view_username }}{% endblock %}

{% block content %}
    <div class="row">
        <h4><b>{{ view_username }}</b> Encrypted Files: </h4>
        <ul>
            {% if files %}
                {% for file in files %}
                    <li>
                        <a class="a-download" download href="{{ file }}">{{ file }} </a>
                        {% if enable_revoke %}
                        <button type="button" class="btn-revoke btn btn-info btn-xs" data-csrf="{{ csrf_token }}"
                                data-action="{% url 'revoke' %}" onclick="revoke(this)">Edit access
                        </button>
                    {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>

    </div>
    {% include "modal.html" %}

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/modal.js' %}"></script>

{% endblock %}
