<div class="div-modal">
    <div class="modal fade" id="#revoked" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ filename }}</h4>
                </div>
                <div class="modal-body">
                    <h4>Revoked users</h4>
                    <form method="post" enctype="multipart/form-data">
                        <div class="revoked-users">
                            {% for revokedUser in revokedUsers %}
                                <div class="div-user row">
                                    <div class="col-sm-3">
                                        <li>{{ revokedUser }}</li>
                                    </div>
                                    <div class="col-sm-3">
                                    <button type="button" class="btn btn-xs btn-danger btn-remove"
                                            data-action="{% url 'remove_revoked_user' %}" data-csrf="{{ csrf_token }}"
                                            onclick="remove(this)">remove
                                    </button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <label> Revoke new User
                                <input value="" class="input-new-revoke"/>
                            </label>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-save-revoke btn-primary" data-csrf="{{ csrf_token }}"
                            data-action="{% url 'new_revoked_user' %}" onclick="save(this)">Save changes
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>