 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Panaotizz</a>
    </div>
    <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
          <li><a href="{% url 'profile' %}">My profile</a></li>
          <li><a href="{% url 'upload' %}">Upload new file</a></li>
          <li><a href="{% url 'users' %}">View all users</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <p class="navbar-text">Hello, {{ user.username|default:'Guest' }}!</p>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
  </div>
</nav> 