{% extends 'base.html' %}
{% load static %}

{% block title %}
        <title>Home</title>
{% endblock %}

{% block header %}
     <h3>Welcome to the Master Authority</h3>
{% endblock %}

{% block content %}

    <div>
    {{ user }} files
        <ul>
            {% for file in files %}
            <li>
                <a class="a-download">{{ file }}</a>
            </li>
            {% endfor %}
        </ul>

        <a type="button" class="btn btn-info" href="{% url 'users' %}">Back</a>

    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}

{% endblock %}