{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block content %}
    <div>
        {{ view_username }} Encrypted Files:
        <ul>
            {% if files %}
                {% for file in files %}
                    <li>
                        <a class="a-download" download href="{{ file }}">{{ file }} </a>
                        <button type="button" class="btn-revoke btn btn-info btn-xs" data-csrf="{{ csrf_token }}"
                                data-action="{% url 'revoke' %}" onclick="revoke(this)">Edit access
                        </button>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>

    </div>
    {% include "modal.html" %}

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/modal.js' %}"></script>

{% endblock %}
